/* Product page CSS */

#logoAndCompany{
    font-family: 'Notable';
    display: flex;
    flex-direction: column;
    height: 350px;

    margin-left: 15px;
}

h2, h1 {
    font-family: 'Notable';
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #181818;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    line-height: 2em;
    word-spacing: 1em;
    text-indent: 1em;
 }
footer {
    margin-top: 100px;
}
#logo {
    float: left;
    width: 250px;
    height: 160px;
    border-radius: 16px;

    border-color: yellow;
    border-style: solid;
    border-width: 1px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    width: 800px;

}
.pc_ol {
    list-style-type: none;
    padding-top: 45%;
    padding-left: 50px;
}
.li {
    padding: 15px;
    color: antiquewhite;
}

#section {
    margin-top: 100px;
    width: 100%;
    display: grid;
    gap: 10px;


}

#first {
    grid-column: 2;
    grid-row: 4;
}
#second {
    grid-column: 1;
    grid-row: 1;
}
#fourth {
    grid-column: 3;
    grid-row: 6;
}
#fifth {
    grid-column: 1;
    grid-row: 5;
}
#third {
    grid-column: 3;
    grid-row: 3;
}
#sixth {
    grid-column: 2;
    grid-row: 7;
}


#textAndImages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*border: 1px solid red;*/
}
.scaled_image {
    height: 350px;

}
.info_paragraphs {
    float: left;        
    width: 100%;
}

.paragraph_li {
    font-size: 1em;
    padding-left: 25px;
}

#coockie {
    position: fixed;
    display: flex;
    align-items: center;
    background: #FA0;
    color: #000fff;
    justify-content: center;
    bottom: 15px;
    left: 20%;
    right: 20%;
    width: 60%;
    border-radius: 15px;
    padding-top: 0;
    opacity: 50%;
    z-index: 9999;
}

.nav-bar {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #181818;
    padding-left: 0;

}
.menu {display: flex;}

.menu .li a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu .li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #FFF;
    transition: 0.15s ease-in-out;
}
.menu .li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: #FFF;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    left: 20px;
}
#check {display: block; z-index: 1000}

#product_1 {
    float: right;
}

#product_2 {
    margin-right: auto;
    margin-left: auto;
}

#product_3 {
    float: left;
}


#check {
    display: none;
}
.linkedin:hover {
    color: blue;
}
.linkedin:active {
  color: green;
}
.info_paragraphs::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: brown;
}
#menu_pos {
        display: flex;
        flex-direction: column;
        width: 100%;
}
@media (max-width: 1240px) {

    #section {
        grid-template-columns: 49% 49%;
    }

    #img_p_5 {
        width: 100%;
    }
    #first {
        grid-row: 1;
        grid-column: 1;
    }
    #second {
        grid-row: 3;
        grid-column: 2;
    }
    #third {
        grid-row: 4;
        grid-column: 1;
    }
    #fifth {
        grid-row: 5;
        grid-column: 2;
    }
    #sixth {
        grid-row: 6;
        grid-column: 1;
    }
    #fourth {
        grid-row: 1;
        grid-column: 1;
        visibility: hidden;
    }

    #product_2 {
        float: right;
        margin: 0;
        width: 49%;
    }
    #product_1 {
        width: 49%;
    }
    #img_1 {
        width: 100%;
    }
    #img_2 {
        width: 100%;
    }
    #product_3 {
        float: left;
        visibility: hidden;
        height: 0;
        width: 0;
    }
    header {
        flex-direction: column;
        gap: 15px;
    }
    #section {
        margin-top: 50px;
    }

    #check {display: none; z-index: 1000}

    #img_3 {
        width: 0;
        height: 0;
    }
    #product_aside {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #coockie {
        left:5%;
        right: 5%;
        width: 80%;
    }



}
@media (max-width: 480px) {
    #menu_pos {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    #fifth {
        grid-row: 1;
        grid-column: 1;
    }
    #third {
        grid-column: 1;
        grid-row: 3;
    }
    #second {
        grid-column: 1;
        grid-row: 5;
    }
    #first {
        grid-column: 1;
        grid-row: 7;
    }
    #fourth {
        grid-row: 1;
        grid-column: 1;
        visibility: hidden;
        width: 0;
        height: 0;
    }
    #sixth {
        grid-row: 1;
        grid-column: 1;
        visibility: hidden;
        width: 0;
        height: 0;
    }
    header {
        gap: 5px;
        width: 250px;
    }
    .li {
        padding: 15px;
        font-size: 1.5em;
        color: antiquewhite;

    }

    .scaled_image {
        width: 100%;

    }
    #coockie {
        left: 5%;
        width: 90%;
        right: 5%;

    }
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        background-color: #181818;
        transition: all 0.2s ease-in-out;
    }
    #asides {

        padding-left: 0;
        flex-direction: column;
    }
    #product_3 {
        visibility: visible;
        width: 100%;
        height: auto;
    }
    #product_2 {
        width: 100%;
    }
    #product_1 {
        width: 100%;
    }
    #img_3 {
        visibility: visible;
        width: 100%;
        height: 250px;
    }
    #img_2 {
        width: 100%;
        height: 250px;
    }
    #img_1 {
        width: 100%;
        height: 250px;
    }
    .scaled_image {
        width: 100%;
        height: 250px;
    }
    body {
        font-size: 0.5em;
    }
    .info_paragraphs {
        width: 100%;
        text-align: center;
    }
    #section {
        width: 100%;
    }
    #logo {
        width: 150px;
        height: 100px;
    }
    header {
        flex-direction: row;
    }
    #check {display: none}
    .menu .li {margin-top: 40px;}
    .menu .li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {left: 0;}
    #img_p_4 {
        width: 0;
        height: 0;
    }
    #img_p_6 {
        width: 0;
        height: 0;
    }
    #section {
        grid-template-columns: 99% 0;
        margin-top: 0;
    }
    #down_images {
    flex-direction: column;
        margin-top: 50px;
    }

}
span + p {
    color: green;
}
